
div.box1{
    width: 200px;
    height: 200px;
    float: left; 
    display: inline-block;
}  

div.box2{
    width: 200px;
    height: 200px;
    margin-left: 250px;
    
} 

div.box3{
    width: 200px;
    height: 200px;
    margin-left: 250px;
    
} 
button1, button2, button3{
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: white;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195));
}

body{
    padding-left: 40px;
    text-align: center;
}
